{% extends 'login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block header_content %}{% endblock %}

{% block sidebar_header %}{% endblock %}
{% block sidebar_content %}{% endblock %}

{% block sidebar_footer %}{% endblock %}
{% block utils %}{% endblock %}

{% block main_content %}

    <div class="min-h-screen flex items-center justify-center">
        <div class="grid grid-cols-2 gap-0 shadow-sm w-[860px]">
            <div class="bg-[#0099A6] rounded-s-lg">
                <div class="h-full flex flex-col">
                    <div class="flex-1 flex flex-col items-center justify-center px-12">
                        <h2 class="text-lg text-white font-semibold text-center uppercase">Espace de création de compte</h2>
                        <p class="text-md text-white text-center text-lig">Il ne pourra être créer qu'un seul compte par le biais de ce formaulaire.</p>
                    </div>
                    <div class="h-10 items-center justify-center text-white">
                        <p class="text-center">
                            <a href="#" class="text-sm font-semibold">Politique de confidentialité</a>
                            <a href="#" class="text-sm font-semibold">Mentions Légales</a>
                        </p>
                    </div>
                </div>

            </div>

            <div class="px-4 py-5 bg-white rounded-e-lg">

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    </div>
                {% endfor %}
                {{ form_start(registrationForm) }}
                <div class="text-start">

                    <div class="mb-3">
                        {% include 'composants/forms/input_choicepanel.html.twig' with {
                            'legend_width' : 'w-5/12',
                            'col_width' : 'w-7/12',
                            form : registrationForm.typeMember
                        } %}
                    </div>

                    <div class="mb-1">
                        {% include 'composants/forms/input_choicepanel.html.twig' with {
                            'legend_width' : 'w-3/12',
                            'col_width' : 'w-9/12',
                            form : registrationForm.civility
                        } %}
                    </div>
                    <div class="mb-1">
                        {% include 'composants/forms/input_text_horizontal.html.twig' with {
                            'legend_width' : 'w-3/12',
                            'col_width' : 'w-9/12',
                            'label' : 'Prénom',
                            form : registrationForm.firstName,
                            'placeholder': 'inscrire l\'adresse email',
                            'input_width' : 'w-full',
                            'oninput': ''
                        } %}
                    </div>
                    <div class="mb-1">
                        {% include 'composants/forms/input_text_horizontal.html.twig' with {
                            'legend_width' : 'w-3/12',
                            'col_width' : 'w-9/12',
                            'label' : 'Nom',
                            form : registrationForm.lastName,
                            'placeholder': 'inscrire l\'adresse email',
                            'input_width' : 'w-full',
                            'oninput': ''
                        } %}
                    </div>


                    <div class="mt-2 mb-2">
                        {% include 'composants/forms/blocs/bloc_city_horizontal.html.twig' with {
                            'legend_width' : 'w-3/12',
                            'col_width' : 'w-9/12',
                            'label': 'Adresse',
                            address : registrationForm.address,
                            bisAddress : registrationForm.bisAddress,
                            zipcode : registrationForm.zipcode,
                            city : registrationForm.city,
                            'address_width' :'',
                            'bisAddress_width' :'',
                            'zipcode_width' : 'w-20',
                            'city_width' :'w-60',
                        } %}
                    </div>
                    <div class="mb-1">
                        {% include 'composants/forms/input_text_horizontal.html.twig' with {
                            'legend_width' : 'w-3/12',
                            'col_width' : 'w-9/12',
                            'label' : 'Email',
                            form : registrationForm.email,
                            'placeholder': 'inscrire l\'adresse email',
                            'input_width' : 'w-full',
                            'oninput': ''
                        } %}
                    </div>
                    <div class="mb-1">
                        {% include 'composants/forms/input_text_horizontal.html.twig' with {
                            'legend_width' : 'w-3/12',
                            'col_width' : 'w-9/12',
                            'label' : 'Password',
                            form : registrationForm.password,
                            'placeholder': 'inscrire l\'adresse email',
                            'input_width' : 'w-full',
                            'oninput': ''
                        } %}
                    </div>

                    <div class="mt-2 mb-2">
                        {% include 'composants/buttons/button_submit.html.twig' with {
                            'id'    : '',
                            'array' : null,
                            'icon'  : null,
                            'text'  : 'Création du compte',
                            'button_width' : 'w-full'
                        } %}
                    </div>


                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
