{% extends 'base.html.twig' %}

{% block title %}Edit Adhesion{% endblock %}

{% block body %}
    <h1>Edit Adhesion</h1>

    {{ include('gestion/adhesions/adhesion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gestion_adhesions_adhesion_index') }}">back to list</a>

    {{ include('gestion/adhesions/adhesion/_delete_form.html.twig') }}
{% endblock %}
