<button
    id="{{ id }}"
    class="{{ button_width }} border border-sky-700 text-sm text-sky-700 rounded px-1.5 py-1.5 me-1 enabled:hover:bg-sky-700 enabled:hover:text-white disabled:opacity-50"
    disabled
>
    {{ icon|raw }} {{ text }}

</button>