<div>
    <div class="float-start"><p class="h4">Liste des activités en cours de validité</p></div>
    <div class="float-end">
        <button class="btn btn-sm btn-outline-dark btnShowModalAdhesion" data-bs-toggle="modal" data-bs-target="#modalAdhesion" data-bs-whatever="ADD-Ajout d'une Adhesion">Ajouter une adhésion</button>
        <button class="btn btn-sm btn-outline-dark btnShowModalAdhesion" data-bs-toggle="modal" data-bs-target="#modalAdhesion" data-bs-whatever="RENEW-Ajout d'une Adhesion">Renouveler une adhésion</button>
        <button class="btn btn-sm btn-outline-dark btnShowModalAdhesion" data-bs-toggle="modal" data-bs-target="#modalAdhesion" data-bs-whatever="EDIT-Modifier d'une recommandation">Modifier une adhésion</button>
        <button class="btn btn-sm btn-outline-dark btnShowModalAdhesion" data-bs-toggle="modal" data-bs-target="#modalAdhesion" data-bs-whatever="DEL-Supprimer d'une recommandation">Supprimer une adhésion</button>
    </div>
</div>