{{ form_start(form) }}
<div class="text-start">
    <div class="mt-3 mb-3">
        {% include 'composants/forms/input_text_horizontal.html.twig' with {
            'legend_width' : 'w-2/6',
            'col_width' : 'w-4/6',
            'label' : field_label(form.name),
            form : form.name,
            'placeholder': '',
            'input_width' : 'w-full',
            'oninput': ''
        } %}
    </div>
    <div class="mt-3 mb-3">
        <div class="mb-1">
            {% include 'composants/forms/input_text_horizontal.html.twig' with {
                'legend_width' : 'w-2/6',
                'col_width' : 'w-4/6',
                'label' : field_label(form.cotisation),
                form : form.cotisation,
                'placeholder': '',
                'input_width' : 'w-20',
                'oninput': ''
            } %}
        </div>
    </div>

</div>
{{ form_end(form) }}
