{% extends 'base.html.twig' %}

{% block title %}New Cotisation{% endblock %}

{% block body %}
    <h1>Create new Cotisation</h1>

    {{ include('gestion/adhesions/cotisation/_form.html.twig') }}

    <a href="{{ path('app_gestion_adhesions_cotisation_index') }}">back to list</a>
{% endblock %}
