.admin {
  font-size: 0.9rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  main{
    margin-top: 40px;
    h1, h2, h3 {
      font-size: 1rem;
      font-weight: bold;
    }
    .aside-xl{
      width: $width-side-large;
      height:100%
    }
    .aside_sm{
      width: $width-side-large;
      height:100%
    }
    aside{

    }
    #content{
      width: $width-content-large;
      height:100%;
      position: relative;
      /* Ajoute une scrollbar verticale */
      .scrollable-block {
        height: 600px;
        overflow-y: scroll;
      }
    }
  }
}
