<div class="flex gap-1 bg-white">
    <label class="text-sm text-slate-700" for="{{ form.vars.id }}">
        {{ label }}
    </label>
    <div class="{{ col_width }} inline-flex justify-start overflow-hidden">
    {{ form_widget(form, { attr: { class: input_width ~ ' border text-gray-900 text-sm px-2 py-1 rounded-lg focus:outline-none focus:bg-white ' ~ (form_errors(form) ? 'border-orange-300 bg-white' : 'border-gray-300 bg-gray-100/70') } }) }}
    </div>
</div>